@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color: #f2dad6;
    font-family: 'Ubuntu', sans-serif;
    
}

.content {
    
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    margin-top: 3cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 29.7cm;
    height: 45cm; 
    background-image: linear-gradient(to left, #fefefe 60%, #c0d4cb 0%, #c0d4cb);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.bg{
    
    position: absolute;
    width: 8%;
    top: 80px ;
    left: 60px;
}
.about-bg{
    background-color: #f2dad6 ;
    height: 800px;
    width: 420px;
    left: 2em;
    opacity: 0.9;
    top: -80px;
    position: absolute;
    
    
}
.img{
    position: relative;
    
}

.aboutsec{
    height: 320px;
    width: 380px;
    left: 47px;
    text-align: center;  
    position: relative;


}

.abouttxt {
    
    font-size: 37px;
    font-weight:900;
    word-break: break-all;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    
}

.aboutp {
    top: -19px;
    font-size: 20px ;
    font-weight: 300;
   text-align: center;
    position: relative;  
    word-break: break-all;

}


.contact-sec{
    height: 365px;
    width: 280px;
    left: 30px;  
    position: relative;
    position:absolute;
    left: 750px;
    text-align: center;

}
.contact-txt{
    font-size: 37px;
    font-weight: 1000;
    word-break: break-all;
    text-align: center;
    position: relative;
    letter-spacing: 2px;


}
.contact-lorem{
    top: -19px;
    font-size: 25px ;
    font-weight: 300;
   text-align: center;
    position: relative;  
    
    word-break: break-all; 

}
.social{
    position: relative;
    text-align: centers;
}
.fa-facebook{
    width: 10%; 
    display: table-cell; 
    
}
.fa-instagram{
    width: 10%; 
    display: table-cell; 
    
    
}
.fa-linkedin{
    width: 10%;
    display: table-cell; 
    
    

}

.fab{
    font-size: 38px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    padding: 4px 25px;
    
    text-decoration: none;
    display: inline-block;
}

.exper-dev{
    
    height: 365px;
    width: 563px;   
    left: 500px;
    bottom: 350px;
    position: relative;
    
}
.title{
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 5px;
}
.postion{
    background-color: #bccdc7;
    height: 31px;
    position: relative;
  
}
.postion-txt{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
    top: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.postion-cmp{
    
    height: 31px;
    position: relative;
  
}

.left-box{
   
    /* height: 330px;
    width: 350px; */
    bottom: -50px;
    position:absolute;
    background-color: #f2dad6;
    height: 380px;
    width: 30px;
    
}

.left-box-2{
   
    /* height: 400px;
    width: 350px; */
    bottom: -440px;
    position:absolute;
    background-color: #f2dad6;
    height: 300px;
    width: 30px;
}

.left-title{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 5px;
    position: absolute;
    left: 45px;
    

}
.elem-dos{
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 5px; 
    position: relative;
    padding-top: 60px;
    left: 50px;
    top: 20px;
    width: 450px;


}

.rating{
    width: 250px;
    position: relative;
    font-size: 25px;
    left: 180px;
    bottom: 8px;
    letter-spacing: 5px;

}