@import url('https://fonts.googleapis.com/css2?family=Anton&family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap&family=Nunito&display=swap');

body{
    background-color: #081410 ;
}
/* title */
.title{
    font-family: 'Anton', sans-serif;
    font-size: 52px;
    font-weight: 900;
    width: 180px;
    letter-spacing: 3px;
    color: #87e1c8;
    text-shadow: 1px 1px 0px #000000;
    top: 22px;
    position: absolute;
}
/* image  */
.image img{
    width: 150px;
    margin-left: auto;
    height: 150px;
    display: flex;
    border-radius: 80px;
    position: relative;
    transition: all .42s;

}
.image img:hover{
    width: 180px;
    height: 100%;
    border-radius: 10px;
    transition: all .2s;
    position: relative;

}

h2{
    font-family: 'Anton', sans-serif;
    color: #87e1c8;
    letter-spacing: 1px;
    left: 20px;
    position: relative;
    width: 520px;
    height: 45px;
}
p{
    /* font-family: 'Josefin Sans'; */
    font-family: 'Nunito', sans-serif;
    padding: 1.5em;
    font-size: 20px;
    display: flex; 
    margin: 1.3em;
    left: -7px;
    font-weight: 900;
    color: #062226;

}
/* background glass  */
.bg-gla{
    height: 100%;
    background: #9bc0d4; 
    backdrop-filter: blur(10px); 
    box-shadow:0 0 20px rgba(0, 0, 0, 0.164);
    color: #062226;
    border-radius: 5px; 




}
.bg-gla::after {

    height: 100%;
    background: #ffffff56; 
    backdrop-filter: blur(10px); 
    box-shadow:0 0 20px rgba(0, 0, 0, 0.164); 
    left: 1%;
    top: 5%;


}
.bg-gla::before,
.bg-gla::after {
content: ''; 
position: absolute; 
z-index: -11; 
border-radius: 5px; 
width: 100%; 

}



/* background glass competance  */




/* Bar */
h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    color: #062226;
    background:#87e1c8; 
    width: 290px; 
    height: 35px; 
    align-items: center; 
    margin: 1.3em; 
    cursor: pointer; 
    position: relative;
    padding: 20px;
    display: flex; 
    border-radius: 2px;
    left: -37px; 
}
h1::before,
h1::after {
content: ''; 
position: absolute; 
z-index: -11; 
border-radius: 5px; 
width: 100%; 
transition: all .4s;
}
h1::after{
    left: -5%;
    height: 100%;
    background: #ffffff80; 
    backdrop-filter: blur(10px); 
    box-shadow:0 0 20px rgba(0, 0, 0, 0.164);
}
h1:hover::before{
    transform: translateX(2.5%);
}
h1:hover::after{
    transform: translateX(15%);
}

